body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
a {
  text-decoration: none;
}
.main-nav,
.main-nav_login,
.description-about_orders_items,
.sorting-items,
.selected-items_pages {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*--ШАПКА--*/
.main-header {
  margin: 0 auto;
  background-color: #eeeeee;
}
.main-header-wrapper {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 47px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header-logo {
  margin-right: 202px;
}
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.main-nav_link {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  display: block;
  border-bottom: 2px solid transparent;
}
.main-nav_li {
  margin-right: 46px;
}
.main-navigation_basket {
  position: relative;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  margin-left: auto;
  margin-bottom: 15px;
  display: block;
  text-align: center;
  padding-left: 39px;
  text-transform: uppercase;
}
.main-navigation_basket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 16px;
  height: 18px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #eeeeee;
}
.main-navigation_basket:hover {
  color: #fb565a;
}
.main-navigation_basket:active {
  color: #000000;
  opacity: 0.3;
}
.main-navigation_basket:visited {
  border-bottom: 2px solid #fb565a;
}
.main-nav_link:hover {
  color: #fb565a;
}
.main-nav_link:active {
  color: #000000;
  opacity: 0.3;
}
.main-nav-magazine_link_active {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 5px;
}
.main-header_title {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  margin: 0px;
  padding-bottom: 108px;
  padding-top: 73px;
  text-align: center;
}
.main-header_title_wrapper {
  margin-bottom: 57px;
}
/*-- ФОРМА СЛАЙДА --*/
.slider {
  background-color: #eeeeee;
  position: relative;
  margin-bottom: 61px;
}
.slider-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eeeeee;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 10;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  display: none;
  padding: 74px 0 80px 0;
}
.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-position: 93% 11px;
  background-repeat: no-repeat;
}
.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-position: 100% 0;
  background-repeat: no-repeat;
}
.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-position: 100% 20px;
  background-repeat: no-repeat;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider_title {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}
.slider_about {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}
.slider_btn {
  display: block;
  width: 240px;
  padding: 16px 0;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  border: none;
}
.slider_btn:hover,
.slider_btn:focus {
  background-color: #e74246;
}
.slider_btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/*-- БЛОК ПРОМО АКЦИИ --*/
.container {
  width: 1200px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 79px;
}
.promo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 81px;
  background-color: #ffffff;
}
.promo-section {
  width: 300px;
  margin-right: 100px;
  margin-top: 20px;
}
.promo-section:nth-child(3n) {
  margin-right: 0px;
}
.promo-section-img_wrapper {
  width: 300px;
  height: 146px;
}
.promo-section_title {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.promo-section_about {
  display: block;
  width: 270px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  margin-bottom: 31px;
}
.promo_btn {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  padding: 16px 40px;
  vertical-align: middle;
}
.btn-promo_red {
  background-color: #fb565a;
}
.btn-promo_red:hover {
  background-color: #e74246;
}
.btn-promo_red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgb(193, 49, 53) inset;
          box-shadow: 0 3px rgb(193, 49, 53) inset;
}
.btn-promo_green {
  background-color: #00ca74;
}
.btn-promo_green:hover {
  background-color: #00bc6c;
}
.btn-promo_green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgb(0, 153, 88) inset;
          box-shadow: 0 3px rgb(0, 153, 88) inset;
}
.btn-promo_yellow {
  background-color: #efc84a;
}
.btn-promo_yellow:hover {
  background-color: #eab534;
}
.btn-promo_yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgb(206, 150, 31) inset;
          box-shadow: 0 3px rgb(206, 150, 31) inset;
}
/*-- БЛОК ОПИСАНИЯ КОМПАНИИ --*/
.description {
  background-color: #ffffff;
}
.description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #ffffff;
  border-top: 2px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.description-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 660px;
  margin-right: 140px;
  padding-left: 1px;
  padding-top: 33px;
}
.description-about-title {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.description-about-mission {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  padding: 0;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 38px;
}
.description-about-orders {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.description-about_orders_items {
  padding: 0px;
  margin: 0px;
}
.description-about_order_item {
  position: relative;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  padding-left: 36px;
  margin: 24px 0px;
}
.description-about_order_item::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  position: absolute;
  top: 12px;
  left: 0px;
  background-color: #fb565a;
}
.description-statistics {
  width: 360px;
}
.description-statistics-img_wrapper {
  margin-bottom: 30px;
}
.description-statistics-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
}
.description-statistics-about {
  display: block;
  margin-left: 17px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.description-statistics-number_percent {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
}
.description-statistics-number_percent_sup {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 28px;
  font-weight: 700;
}
.description-statistics-number:nth-child(1) {
  margin-right: 21px;
}
.description-statistics-number:nth-child(3) {
  margin-left: 21px;
}
.description-statistics-number_name {
  display: block;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
  margin-top: 19px;
}
/*-- БЛОК ПОРТФОЛИО ВЫПОЛНЕННЫХ САЙТОВ --*/
.portfolio {
  background-color: #ffffff;
}
.portfolio-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 34px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio-catalog-site_link img {
  opacity: 0.2;
}
.portfolio-catalog-site_link img:hover {
  opacity: 1;
}
.portfolio-catalog-site_link img:active {
  opacity: 0.1;
}
.portfolio-catalog-site_wrapper_line {
  position: relative;
}
.portfolio-catalog-site_wrapper_line:nth-child(1) {
  margin-left: 31px;
}
.portfolio-catalog-site_wrapper_line:nth-child(3) {
  margin-right: 21px;
}
.portfolio-catalog-site_wrapper_line:nth-child(4) {
  margin-right: 43px;
  background-color: transparent;
}
.portfolio-catalog-site_border_html::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  right: -51px;
  top: 5px;
}
.portfolio-catalog-site_border_barbershop::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  right: -43px;
  top: 14px;
}
.portfolio-catalog-site_border_pink::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  right: -58px;
  top: -5px;
}
/*-- БЛОК ПРОЕЗДА АДРЕСА --*/
.driving {
  margin-top: 61px;
}
.container-map {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 416px;
}
.driving-map_iframe {
  position: absolute;
  border: none;
  width: 100%;
}
.driving-wrapper {
  position: relative;
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 54px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
.driving-address {
  padding-top: 50px;
  padding-left: 50px;
  width: 269px;
  height: 258px;
  background-color: #ffffff;
}
.driving-address_title {
  display: block;
  margin-bottom: 21px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
.driving-address_adds {
  display: block;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}
.driving-address_adds_street {
  margin-bottom: 19px;
}
.driving-address_tel {
  display: block;
  margin-bottom: 38px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}
.driving-address_btn {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  padding: 16px 44px;
  vertical-align: middle;
}
.driving-address_btn_red {
  background-color: #fb565a;
}
.driving-address_btn:hover {
  background-color: #e74246;
  cursor: pointer;
}
.driving-address_btn:active {
  background-color: #d7373b;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgb(193, 49, 53) inset;
          box-shadow: 0 3px rgb(193, 49, 53) inset;
}
.driving-map_marker {
  display: none;
  position: absolute;
  width: 231px;
  height: 190px;
  top: 89px;
  right: 269px;
  background-image: url("../img/map-marker.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
/*--СОДЕРЖАНИЕ ОСНОВНОГО БЛОКА КАТАЛОГА--*/
.container-forms,
.forms {
  background-color: #ffffff;
}
.forms {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*БЛОК ВЫБОРА ШАБЛОНОВ - ФИЛЬТР*/
.filter-price {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 56px;
}
.range-filter {
  width: 260px;
  margin-top: 46px;
}
.filter-price-title {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  letter-spacing: 1px;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
  text-transform: uppercase;
}
.price-controls .min-price_input,
.price-controls .max-price_input {
  width: 80px;
  padding: 7px 0px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
  background-color: #eeeeee;
  text-align: center;
  border: none;
  border-radius: 5px;
}
.max-price {
  text-align: right;
}
.min-price,
.max-price {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
  text-transform: uppercase;
}
.min-price .min-price_input {
  margin-left: 8px;
}
.max-price .max-price_input {
  margin-left: 8px;
}
.grid-catalog {
  margin-bottom: 41px;
}
.grid-title {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.grid-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.grid-item_label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 36px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
  margin-bottom: 5px;
  margin-top: 15px;
}
.grid-item_radio {
  display: none;
}
.grid-item_radio + .grid-item_label::before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25px;
  height: 25px;
  left: 0px;
  top: -2px;
  border-radius: 100%;
  background-image: url("../img/radio-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.grid-item_radio:checked + .grid-item_label::before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25px;
  height: 25px;
  left: 0px;
  top: -2px;
  border-radius: 50%;
  background-image: url("../img/radio-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.grid-item_radio:hover + .grid-item_label::before {
  background-image: url("../img/radio-hover-off.png");
}
.grid-item_radio:checked:hover + .grid-item_label::before {
  background-image: url("../img/radio-hover-on.png");
}
.grid-item_radio:disabled + .grid-item_label::before {
  background-image: url("../img/radio-disable-off.png");
}
.grid-item_radio:checked:disabled + .grid-item_label::before {
  background-image: url("../img/radio-disable-on.png");
}
.specialty-title {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.specialty-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.specialty-item_label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 36px;
  margin-bottom: 4px;
  margin-top: 16px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
}
.specialty-item_checkbox {
  display: none;
}
.specialty-item_checkbox + .specialty-item_label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0px;
  top: -2px;
  border-radius: 3px;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.specialty-item_checkbox:checked + .specialty-item_label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 24px;
  left: 0px;
  top: -2px;
  border-radius: 3px;
  border: none;
  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;;
}
.specialty-item_checkbox:hover + .specialty-item_label::before {
  background-image: url("../img/checkbox-hover-off.png");
}
.specialty-item_checkbox:checked:hover + .specialty-item_label::before {
  left: 0px;
  background-image: url("../img/checkbox-hover-on.png");
}
.specialty-item_checkbox:disabled + .specialty-item_label::before {
  background-image: url("../img/checkbox-disabled-off.png");
}
.specialty-item_checkbox:checked:disabled + .specialty-item_label::before {
  background-image: url("../img/checkbox-disabled-on.png");
}
.btn-apply_form {
  display: block;
  width: 260px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  margin-top: 46px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  cursor: pointer;
  border: none;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}
.btn-apply_form:hover {
  background-color: #dfdfdf;
}
.btn-apply_form:active {
background-color: #d5d5d5;
color: rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0 -3px 0 0 #bfbfbf;
        box-shadow: 0 -3px 0 0 #bfbfbf;
}
/*--БЛОК ОСОРТИРОВАННЫХ ШАБЛОНОВ--*/
.selected-forms,
.selected-forms_elements,
.selected-items {
  background-color: #ffffff;
}
.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 57px;
}
.sorting-title {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 18px;
  padding-top: 2px;
  font-weight: 700;
  color: #000000;
  margin-right: 266px;
  text-transform: uppercase;
}
.sorting-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  line-height: 18px;
}
.sorting-item:nth-child(1) {
  margin-right: 25px;
}
.sorting-item:nth-child(2) {
  margin-right: 26px;
}
.sorting-item:nth-child(3) {
  margin-right: 49px;
}
.sorting-item:nth-child(4) {
  margin-right: 17px;
}
.sorting-items .sorting-item:last-child {
  margin: 0px;
}
.sorting-item .sorting-item_down {
  font-size: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #ffffff;
  width: 11px;
  height: 10px;
}
.sorting-item .sorting-item_up {
  font-size: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #ffffff;
  width: 11px;
  height: 10px;
}
.sorting-item_link {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  cursor: pointer;
}
.sorting-item_price_active {
  color: rgb(0, 0, 0);
}
.sorting-item_type_sleep,
.sorting-item_name_sleep {
  color: rgba(0, 0, 0, 0.3);
}
.sorting-item_price_active:hover,
.sorting-item_type_sleep:hover,
.sorting-item_name_sleep:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sorting-item_price_active:active,
.sorting-item_type_sleep:active,
.sorting-item_name_sleep:active {
  color: rgb(0, 0, 0);
}
.selection-forms_elements {
  width: 260px;
}
.selected-forms {
  margin-left: auto;
}
.selected-forms_elements {
  width: 760px;
}
.selected-items {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.selected-item {
  width: 360px;
  height: 616px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 33px;
  position: relative;
  z-index: 1;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.selected-item:hover {
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
          box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}
.selected-item:nth-child(even) {
  margin-left: 40px;
}
.selected-item_slider {
  height: 40px;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  fill-opacity: 0.12;
}
.selected-item:hover .selected-item_slider {
  fill-opacity: 1;
}
.selected-item_img {
  height: 574px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.selected-item_hidden {
  display: block;
  position: absolute;
  width: 360px;
  height: 231px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 29px;
  text-align: center;
  background-color: #eeeeee;
  z-index: 2;
  bottom: 0px;
}
.selected-item_visually-hidden {
  display: none;
}
.selected-item:hover .selected-item_visually-hidden {
  display: block;
}
.selected-item_hidden_title {
  display: block;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 14px;
}
.selected-item_hidden_inform {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}
.selected-item_hidden_inform_sedona,
.selected-item_hidden_inform_barbershop,
.selected-item_hidden_inform_mishka {
  width: 200px;
}
.selected-item_hidden_inform_sedona_pink,
.selected-item_hidden_inform_sedona_plus,
.selected-item_hidden_inform_sedona_kvas {
  width: 228px;
}
.selected-item_hidden_cost {
  display: block;
  width: 200px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  margin-top: 31px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  text-align: center;
  vertical-align: middle;
}
.selected-item_hidden_cost:hover {
  background-color: #e74246;
  cursor: pointer;
}
.selected-item_hidden_cost:active {
  background-color: #d7373b;
  cursor: pointer;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.selected-items_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
  margin-top: 26px;
  line-height: 18px;
}
.selected-items_li {
  margin-right: 11px;
}
.selected-items_page {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}
.selected-items_page_block {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  padding-top: 16px;
  border-radius: 3px;
}
.active-page {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  padding-top: 14px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
.selected-items_page_block:hover {
  background-color: #dfdfdf;
}
.selected-items_page_block:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
          box-shadow: inset 0 3px 0 0 #bfbfbf;
}
.selected-items_page_page_next {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  width: 260px;
  height: 50px;
  padding-top: 16px;
  border-radius: 3px;
  text-transform: uppercase;
}
/*-- ПОДВАЛ --*/
.footer {
  width: 1160px;
  margin: 0 auto;
  margin-top: 69px;
  margin-bottom: 70px;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}
.footer,
.footer-social,
.footer-contacts
 {
  background-color: #ffffff;
}
.footer-contacts {
  padding-top: 5px;
}
.social-btn {
  font-size: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #e1e1e1;
  width: 79px;
  height: 79px;
  border-radius: 50%;
}
.social-btn:hover,
.social-btn:focus {
  text-decoration: none;
  background-color: rgb(231, 66, 70);
}
.social-btn:active,
.social-btn:active {
  background-color: rgb(215, 55, 59);
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}
.social-btn:active path,
.social-btn:active path {
  opacity: 0.3;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  margin-right: 139px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-contacts_title {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}
.footer-contacts_discount {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  margin: 0px;
  margin-top: 10px;
}
/*-- КАРТА, КОРЗИНА И ОВЕРЛЭЙ ОБРАТНОЙ СВЯЗИ--*/

/*-- ОКНО ОБРАТНОЙ СВЯЗИ--*/
@-webkit-keyframes bonuce {
  0%		{-webkit-transform: translateX(-2000px);transform: translateX(-2000px);}
  70%		{-webkit-transform: translateX(30px);transform: translateX(30px);}
  90%		{-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  100%	{-webkit-transform: translateX(0);transform: translateX(0);}
}
@keyframes bonuce {
  0%		{-webkit-transform: translateX(-2000px);transform: translateX(-2000px);}
  70%		{-webkit-transform: translateX(30px);transform: translateX(30px);}
  90%		{-webkit-transform: translateX(-10px);transform: translateX(-10px);}
  100%	{-webkit-transform: translateX(0);transform: translateX(0);}
}
.modal-feedback {
  display: none;
  position: fixed;
  top: 40px;
  right: 279px;
  width: 960px;
  height: 590px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 5;
  background: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-weight: 400;
  font-family: "Roboto", "Tahoma", sans-serif;
}
.modal-feedback,
.feedback-form {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  font-weight: 700;
  font-family: "Roboto", "Tahoma", sans-serif;
}
.modal-feedback-btn_close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.modal-feedback-btn_close::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background: transparent url("../img/close-cross-off.png") no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}
.modal-feedback-btn_close:hover::before {
  background: transparent url("../img/close-cross-hover.png") no-repeat;
}
.modal-feedback-btn_close:active::before {
  background: transparent url("../img/close-cross-push.png") no-repeat;
}
.modal-feedback_title {
  margin: 0px;
  margin-top: 73px;
  margin-bottom: 49px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.feedback-form_elements_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 47px;
}
.feedback-form-title_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
.feedback-form-title_name {
  margin-right: 40px;
}
.feedback-form-title_name {

}
.feedback_input {
  width: 360px;
  min-height: 50px;
  border-radius: 3px;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 12px;
  margin-bottom: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid rgb(215, 220, 222);
  border-radius: 3px;
}
.feedback_input:hover {
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid rgb(180, 185, 187);
}
.feedback_input:focus {
  color: rgba(68, 68, 68);
  border: 2px solid rgb(0, 0, 0);
}
.feedback-text {
  width: 760px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid rgb(215, 220, 222);
  margin-top: 12px;
  padding-left: 14px;
  padding-top: 12px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5);
}
.feedback-text:hover {
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid rgb(180, 185, 187);
}
.feedback-text:focus {
  color: rgba(68, 68, 68);
  border: 2px solid rgb(0, 0, 0);
}
.modal-feedback_btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  padding: 16px 0;
  font-family: "Roboto", "Tahoma", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(251, 86, 90);
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
.modal-feedback_btn:hover,
.modal-feedback_btn:focus {
  background-color: #e74246;
}
.modal-feedback_btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.modal-content-show {
	display: block;
	-webkit-animation: bonuce 0.6s;
	        animation: bonuce 0.6s;
}
.feedback-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0,.3);
}
.modal-feedback-overlay {
	display: block;
}
.modal-content-show_error {
	-webkit-animation: shake 0.6s;
	        animation: shake 0.6s;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
